<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
</head>
<body style="font-family: arial; font-size: 16px; line-height: 25px;">
{% block mainBody %}{% endblock %}
</body>
</html>
