{% extends 'emailTemplates/baseEmail.html.twig' %}

{% block mainBody %}
    <div style="border-bottom: 1px solid #888; margin: 0 0 1rem 0;">
        <img src="{{  email.image('@images/aviasales.jpg') }}" alt="aviasales" style="height: 50px; margin: 0 20px 10px 0;" />
    </div>

    <div>
        <h1>Link for activation</h1>

        <div>
            Good day <b>{{ userFullName }}</b>,<br />
            you registered in Aviasales company<br />
            your login is: <b>{{ userLogin }}</b><br />
            click by link for activate your account.
        </div>

        <div style="margin: 1.5rem 0;">
            <a href="{{ activationUrl }}" style="color: #fff; background-color: #025AA5; padding: 0.5rem 2rem; border-radius: 0.5rem; text-decoration: none;">

            </a>
        </div>

        <div>
            <br />
            Best reagards<br />
            <b>Aviasales</b>
        </div>
    </div>

    <div style="margin: 2rem 0 0 0; font-size: 0.7rem;">
        This email was created automatically.
    </div>
{% endblock %}