{% extends 'emailTemplates/baseEmail.html.twig' %}

{% block mainBody %}
    <div style="border-bottom: 1px solid #888; margin: 0 0 1rem 0;">
        <img src="{{ email.image('@images/aviasales.jpg') }}" alt="logo" style="height: 50px; margin: 0 20px 10px 0;" />
    </div>


{% endblock %}
